# Backend

PORT=5000
MONGO_URI=mongodb://tsbanwala2525_db_user:ZrOLbrdQ0sLoI8ki@ac-sa7vamu-shard-00-00.v4y3wue.mongodb.net:27017,ac-sa7vamu-shard-00-01.v4y3wue.mongodb.net:27017,ac-sa7vamu-shard-00-02.v4y3wue.mongodb.net:27017/?ssl=true&replicaSet=atlas-9io3up-shard-0&authSource=admin&appName=Cluster1

JWT_SECRET=qyQjrFJP4UBmiOvV5QgTFiscH5mWNOLt0bRwVuDQPE0=

CLIENT_URL=http://localhost:5173